.container {
    width: 1480px;
    height: 1280px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
align-items: center;
}
.logo {
    font-size: 80px;
    font-weight: 400;
    margin: 30px;
    padding: 20px 0 20px 0;
}
.colortext {
    color: #4BCAFF;
}
.flex-container-top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444f;
    width: 1280px;
    height: 69px; 
    margin: 30px;
}
.top-menu {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding: 30px 30px 30px 30px;
    border-left: 1px solid white; 
}
.flex-container-body {
    display: flex;
    width: 1280px;
}

.left-menu {
    display: flex;
flex-direction: column;
border: 1px solid black;
margin: 20px 30px 20px 30px;
min-width: 344px;
height: 399px;
justify-content: center;
gap: 20px;
}

.menu-item {
   color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 27px;
    padding-bottom: 30px; 
    padding-left: 30px;
}
.photo {
    display: flex;
    border: 1px solid black;
    width: 320px;
    height: 381px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 290px;
    padding-right: 290px;

}
.text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    
}
.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 69px;
    border: 1px solid white;
    background-color: #5491ab;
    margin-left: 30px;
    margin-top: 30px;

}
.footer-menu {
    display: flex;
}
.footer-item {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 30px;
}
.footer-item a {
    text-decoration: none;
    color: rgb(13, 12, 12);
}
.copyright {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    padding-left: 140px;
}